{% extends "tardis_portal/portal_template.html" %}

{% block script %}

{% endblock script %}

{% block fullpage %}
     <p>

<strong>Squirrel</strong> has been developed by the Monash e-Research Centre to assist researchers with the management of research data. The key features include:

<ul>
 <li>the secure upload and download research data to and from LaRDS</li>
 <li>organisation of the data files into experiments and datasets.</li>
 <li>ability to add descriptive information to experiments and datasets.</li>
 <li>ability to add descriptive information to experiments and datasets.</li>
 <li>publish your data collections to Research Data Australia.</li>
</ul>
<br/>
	</p>
	<p>
Squirrel is a free service, easily accessible by anyone with a web browser and internet connection. To get started all you need is to register for new account using your Monash Authcate login and password. Once the automated registration process is complete you can begin uploading your data.
	</p><p>
Squirrel is a derivative of MyTARDIS developed for the storage of protein crystallography data captured at the Australian Synchrotron. For more information on TARDIS, visit <a href="http://tardis.edu.au" target="_blank">tardis.edu.au</a>.

      </p> 
{% endblock %}
