<strong>Australian National Data Service Publish</strong>

{% if activities %}
<p>
	<h3>Related Parties</h3>
	<p><em>Please select at least one activity related to this experiment</em></p>
	{{ username }} (primary investigator) and...
	<input id="parties" name="parties" type="text"/> (comma separate)
</p>

<p>
	<h3>Related Activities</h3>
	<em>The following activities were retrieved for {{username}}... Please select activities related to this experiment</em>
	
	{% for activity in activities %}
		<div class="activity">
			<strong>Grant ID:</strong> {{ activity.grant_id }}<br/>
			<strong>Title:</strong> {{ activity.title }}<br/>
			<strong>Funding Body:</strong> {{ activity.funding_body }}<br/>
			<strong>Description:</strong> {{ activity.description }}<br/>
			<strong>Members:</strong><br/>
				<div class="members">
				{% for member in activity.members %}
					{{ member }}<br/>
				{% endfor %}
				</div>
			<div align="right"><strong>Include this activity</strong> <input type="checkbox" name="activity" value="{{activity.grant_id}}"></div>
		</div>
	{% endfor %}

</p>
{% else %}

<p>
	There are already party and activity entries for this experiment.
</p>

{% endif %}